@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 16px;
}
.header .header-title {
    color: white;
    font-family: 'Righteous';
    font-size: 2em;

   
}
.header .nav  {
   width: 60%;
   padding: 30px;
}
.header .nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 20px;
    width: 80%;
    
    

}
.header .nav ul li {
    display: inline-block;
    margin-right: 11%;
    white-space: nowrap;
}

.nav ul li a{
   text-decoration: none;
   color: rgb(184,184,184);
   font-size: 1rem;
   
}
.nav ul li a:hover {
    color: white;
    font-weight: 700;
}
* {
    box-sizing: inherit;
    margin: 0;
}

.header { 
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,63,71,0.95);
    background-image: url("assets/Fondo.png");
    background-position: center bottom;
    background-blend-mode: multiply;
    background-size: cover;


}
.header .container_nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.container_nav {
   flex-direction: column;
   background-color: rgba(0,63,71,0.8);
   backdrop-filter: blur(10px);
   position:fixed;
   z-index: 2000;
    
}
.container_nav .nav ul{
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    font-size: 2.5em;
    
}

@media (max-width: 768px){

    .header{
        background-attachment: scroll;
    }
}
body {
    width: 100%;
    height: 100%;
}

.content-main {
    width: 100%;
    min-height: 100vh;
}

.content-main section {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.content-main section:nth-child(even) {
    background-color: rgb(0, 25, 28);
    
}
.content-main section:nth-child(even) h2 {
    color: white;
    
}
.content-main section h2{
    color: rgb(0, 25, 28);
    text-align: center;
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    margin-bottom: 4px;
   
}

.link_up {
    width: 40px;
    height: 40px;
    background-color: rgba(0,63,71,0.8); 
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.header .header_description {
    position: relative;
    top: 240px;
    background-color: rgba(0,63,71,0.8);   
    width: 25%;
    height: 350px;
    margin: 0 auto;
    border-radius: 10px;
    float:right;
    margin-right: 200px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;

}
.header .header_description img {
    width: 350px;
    height: 230px;
    clip-path: circle(39.0% at 50% 50%);
    float: left;
    shape-outside: circle(39.0% at 50% 50%);
    margin-top: 40px;
    align-self: center;
}

.header .header_description span {
    color: white;
    display: block;
    position:absolute;
    bottom: 50px;
    left: 65px;
    clear: both;
}

.header_name {
    position: relative;
    top: 360px;
    width: auto;
    float: left;
    height: auto;
    margin-left: 50px;

}
.header_name h4 {
    color: rgb(224, 224, 224);
    font-size: 3em;
    font-weight: 100;
    margin-top: 30px;
   
}
.header_name h1 {
    color: white;
    font-size: 3.5em;

}
.header_name h1::first-letter {
    background-color: rgba(0,63,71,0.8);
    padding: 0 5px;
    border-radius: 10px;
}

.header_name .headers_networks{
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 40%;

}
.header .headers_networks a i {
    margin-right: 20px;
    color: white;
    font-size: 1.6em;
}
.grid-projects {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    grid-auto-rows: 400px;
}

.grid-projects .g-items {
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.grid-projects .g-items:first-of-type {
    background-image: url("assets/google.png");
}
.grid-projects .g-items:nth-child(2) {
    background-image: url("assets/Logo.png");
}
.grid-projects .g-items:last-of-type {
    background-image: url("assets/spotify.png");
}

.grid-projects .g-items .overlay {
    position: absolute;
    bottom:0;
    background-color: rgba(0,63,71,0.95);
    width: 100%;
    height: 50%;
    color: white;
    font-size: 2em;
    display:grid;
    place-items: center;
    border-radius: 30px 30px 0 0;
}

ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (width <= 1344px){
.header .header_description {
   display: none;
  }
  .header{
    background-image: url("assets/foto.png");
     
  }
    .header .header_name h1 {
   font-size: 6vw;
    }
      .header .header_name h4 {
   font-size: 3.5vw;
    }
    .grid-projects {
        min-height: 80%;
        align-items: start;
        margin-bottom: 70px;

    }
    .grid-projects .g-items .overlay{
        height:100%;
        border-radius:0;
        background-color: rgba(0,63,71,0.586);
    }
    .grid-projects .g-items {
        min-height: 80%;
        border-radius: 30px;
    }
}
@media screen and (width <= 480px) {
    .header .nav {
       width: 100%;
       margin-top: 20px;
}
.header .nav ul li {
    font-size: 1.5em;
    
}
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(0, 25, 28);
    }
    h2 {
        color: white;
    }
    .content-main section h2 {
        color: white;
    }
}
@media (orientation: portrait) {
  body {
    background-color: lightblue;
  }
}
@media (orientation: landscape) {
  body {
    background-color: rgb(0, 25, 28);
  }
}

